@charset "UTF-8";
.order1 {
	order: 1;
}

.order2 {
	order: 2;
}

.order3 {
	order: 3;
}

.order4 {
	order: 4;
}

.order-1 {
	order: -1;
}

.flex-grow {
	flex-grow: 1;
}

.column {
	flex-direction: column;
}


/* Configurações Gerais */

h1{
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
    margin: 20px 0 0 0;
}

body{
    font-family: monospace;
    color:#333;
}

.container{
    max-width: 400px;
    display: flex;
    border: 1px solid #ccc;
    margin:0 auto;
}

.item{
    font-size: 1.5em;
    background: tomato;
    margin: 5px;
    padding: 0 5px;
    text-align: center;
}